@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Fredoka:wght@500&family=Roboto:wght@300;500&display=swap');

body {
  background-image: url("../img/fondo_pantalla_3.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-size: cover;
  background-position: center;

  font-family: 'Fredoka', sans-serif;
  color: white;
}

/* Estilo Titulo */
.titulo {
  position: relative;

  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: -1%;
}

.titulo-contenedor {
  position: absolute;

  width: 85%;
  height: 70%;

  background-color: #000;
  opacity: 30%;
  border-radius: 10px;
}

.titulo h1 {
  position: relative;

  /*font-size: calc(2rem + (50 -2) * ((100vw -300px) / (1600 -300)));*/

  /* Esta fórmula permite ajustar el tamaño de la fuente según el ancho de la pantalla */
}

@media screen and (max-width:480px) {
  .titulo h1 {
    font-size: 1rem;
    /* Tamaño para pantallas pequeñas */
  }
}

@media screen and (min-width:481px) and (max-width:780px) {
  .titulo h1 {
    font-size: 2rem;
    /* Tamaño para pantallas medianas */
  }
}

@media screen and (min-width:781px) {
  .titulo h1 {
    font-size: 3rem;
    /* Tamaño para pantallas grandes */
  }
}

/* También puedes usar otras unidades relativas como em o rem en lugar de rem */

/* Estilo Tarjeta Mascota */

#seleccionar-mascota {
  position: relative;

  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 2% 0%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 0%;

}

.tarjeta-contenedor {
  position: absolute;

  width: 75%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 2% 0%;

  background-color: #000;
  opacity: 25%;
  border-radius: 10px;

}

#seleccionar-mascota h2 {
  position: relative;

  width: 70%;
  height: 100%;
  text-align: center;
  margin: auto;
  padding: 2% 0%;
}

@media screen and (max-width:480px) {
  #seleccionar-mascota h2 {
    font-size: 1rem;
    /* Tamaño para pantallas pequeñas */
  }
}

@media screen and (min-width:481px) and (max-width:780px) {
  #seleccionar-mascota h2 {
    font-size: 1rem;
    /* Tamaño para pantallas medianas */
  }
}

@media screen and (min-width:781px) {
  #seleccionar-mascota h2 {
    font-size: 2rem;
    /* Tamaño para pantallas grandes */
  }
}

.tarjetas-juego {
  display: flex;
  flex-wrap: wrap;
  /* Indicamos que queremos que los elementos se ajusten al ancho disponible */
  justify-content: center;
  align-items: center;
  position: relative;
}

.tarjeta-mascota {
  width: 100%;
  height: 241px;
  padding: 30px 10px;
  box-sizing: border-box;
  border: #000 solid 2px;
  border-radius: 10px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: right;
}

input {
  display: none;
}

#t-1 {
  background-image: url(../img/tarjeta-1-unscreen.gif);
  background-size: cover;
  /* Ajusta la imagen al tamaño de la tarjeta */
  background-position: center;
  /* Centra la imagen vertical y horizontalmente */
}

#t-2 {
  background-image: url(../img/tarjeta-2-unscreen.gif);
  background-size: cover;
  background-position: center;
}

#t-3 {
  background-image: url(../img/tarjeta-3-unscreen.gif);
  background-size: cover;
  background-position: center;
}

/* Usamos media queries para cambiar el ancho de las tarjetas según la resolución */

@media screen and (max-width:480px) {
  .tarjeta-mascota {
    width: 100%;
    /* Ancho para pantallas pequeñas */
    margin: 5px;
  }
}

@media screen and (min-width:481px) and (max-width:780px) {
  .tarjeta-mascota {
    width: 100%;
    /* Ancho para pantallas medianas */
    margin: 5px;
  }
}

@media screen and (min-width:781px) {
  .tarjeta-mascota {
    width: 258px;
    /* Ancho para pantallas grandes */
    margin: 5px;
  }
}

button {
  width: 120px;
  height: 40px;
  background-color: #008000;
  border: 2px solid #008000;
  color: white;
  border-radius: 10px;
  font-size: 15px;
}

#boton-mascota {
  position: relative;
}

#boton-mascota:hover {
  position: relative;
  background-color: white;
  color: #000;
}