@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Fredoka:wght@500&family=Roboto:wght@300;500&display=swap');

/* Estilo de la Pagina */

body {
  background-image: url("../img/Fodo_Mokepon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: 'Fredoka', sans-serif;
  color: white;
}

/* Estilo Titulo */
.titulo {
  position: relative;

  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: -1%;
}

.titulo-contenedor {
  position: absolute;

  width: 95%;
  height: 70%;

  background-color: #000;
  opacity: 40%;
  border-radius: 10px;
  border: 2px solid #007200;
  outline: 2px solid #006400;
}

.titulo h1 {
  position: relative;
  /*font-size: calc(2rem + (50 -2) * ((100vw -300px) / (1600 -300)));*/
  /* Esta fórmula permite ajustar el tamaño de la fuente según el ancho de la pantalla */
}

/* Estilo Tarjeta Mascota */

#seleccionar-mascota {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 2% 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.tarjeta-contenedor {
  position: absolute;

  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 2% 0%;

  background-color: #000;
  opacity: 50%;
  border-radius: 10px;
  border: 3px solid #007200;
  outline: 3px solid #006400;
}

#seleccionar-mascota h2 {
  position: relative;

  width: 70%;
  height: 100%;
  text-align: center;
  margin: auto;
  padding: 2% 0%;
}

.tarjetas-juego {
  display: flex;
  flex-wrap: wrap;
  /* Indicamos que queremos que los elementos se ajusten al ancho disponible */
  justify-content: center;
  align-items: center;
  position: relative;
}

.tarjeta-mascota {
  width: 100%;
  height: 250px;
  /* padding: 30px 10px; */
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #3b302f;
  border: 2px solid #007200;
  outline: 2px solid #006400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.tarjeta-mascota p {
  /* padding: 0% 30%; */
  box-sizing: border-box;
  margin-bottom: 170px;
  background-color: white;
  color: #3b302f;
  border-radius: 10px;
  position: absolute;
  width: 90%;
}

.tarjeta-mascota span {
  color: #006400;
  font-size: 120%;
}

.tarjeta-mascota img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tarjeta-mascota:hover {
  position: relative;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transform: scale(1.1);

  border-color: white;
  outline-color: white;
}

/* input {
  display: none;
} */

button {
  position: relative;
  display: inline-block;
  background-color: #3b302f;
  border: 2px solid #007200;
  outline: 2px solid #006400;
  padding: 10px 20px;
  font-family: 'Fredoka', sans-serif;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
}

#boton-mascota {
  position: relative;
  margin-top: 15px;
}

#boton-mascota:hover {
  position: relative;
  background-color: #3b302f;
  color: white;
  transform: scale(1.1);

  border-color: white;
  outline-color: white;
}

.modo-juego{
  position: relative;
}

/* Ataque */

#seleccionar-ataque {
  position: relative;

  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 2% 0%;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 5px;
}

.tarjeta-contenedor {
  position: absolute;

  width: 90%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 2% 0%;

  background-color: #000;
  opacity: 50%;
  border-radius: 10px;
  border: 3px solid #007200;
  outline: 3px solid #006400;
}

#seleccionar-ataque h2 {
  position: relative;

  width: 70%;
  height: 100%;
  text-align: center;
  margin: auto;
  padding: 2% 0%;
}

.btn-de-ataque {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.mensaje-reiniciar-juego {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 67%;
  height: 36px;
  background-color: white;
  color: #000;
  border-radius: 10px;
  border: 2px solid #007200;
  outline: 2px solid #006400;
  margin: 10px;
}

#mensajes {
  text-align: center;
}

.ataques-mensajes {
  position: relative;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: 70% 70%;
  margin-top: 10px;
}

#vidas-jugador {
  margin-bottom: 10px;
  font-size: 20px;
}

#vidas-enemigo {
  margin-bottom: 10px;
  font-size: 20px;
}

#ataque-jugador {
  border-radius: 10px;
  background-color: #3b302f;
  border: 2px solid #007200;
  outline: 2px solid #006400;
  width: 70px;
}

#ataque-enemigo {
  border-radius: 10px;
  background-color: #3b302f;
  border: 2px solid #007200;
  outline: 2px solid #006400;
  width: 70px;
}

/* Juego Resposivo */

/* Tamaño para pantallas pequeñas */

@media screen and (max-width:480px) {
  .titulo h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 1rem;
  }

  .tarjeta-mascota {
    width: 70%;
  }

  .btn-de-ataque {
    display: flex;
    flex-direction: column;
  }

  .ataque {
    width: 176px;
  }
}

/* Tamaño para pantallas medianas */

@media screen and (min-width:481px) and (max-width:780px) {
  .titulo h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  .tarjeta-mascota {
    width: 80%;
  }

  .btn-de-ataque {
    display: flex;
    flex-direction: column;
  }

  .ataque {
    width: 240px;
  }
}

    /* Tamaño para pantallas grandes */

@media screen and (min-width:781px) {
  .titulo h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  .tarjeta-mascota {
    width: 24%;
  }

  .btn-de-ataque {
    display: flex;
  }

  .ataque {
    width: 200px;
  }
}

