.titulo {
    color: white;
    width: 310px;
    height: 50px;
    background-color: #DC2F02;
}

label {
    background-color: #DC2F02;
    width: 310px;
    height: 50px;
}

input {
    background-color: #DC2F02;
    width: 310px;
    height: 50px;
}

button {
    background-color: #DC2F02;
    width: 310px;
    height: 50px;
}