/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #F1F6F9;
    margin: 0;
    padding: 0;
}

/* Estilos para el banner */
#banner {
    background-color: #0E1719;
    color: #F1F6F9;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#img_banner img {
    max-height: 100px;
}

/* Estilos para el menú */
#menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#menu li {
    margin: 10px 0;
}

#menu li a {
    text-decoration: none;
    color: #F1F6F9;
    background-color: #154249;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#menu li a img {
    margin-right: 10px;
    max-height: 30px;
}

#menu li a:hover {
    background-color: #82B7BB;
}